<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tables / Data - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={{asset("assets/backoffice/img/favicon.png")}} rel="icon">
  <link href={{asset("assets/backoffice/img/apple-touch-icon.png")}} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href={{asset("https://fonts.gstatic.com")}} rel="preconnect">
  <link href={{asset("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i")}} rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={{asset("assets/backoffice/vendor/bootstrap/css/bootstrap.min.css")}} rel="stylesheet">
  <link href={{asset("assets/backoffice/vendor/bootstrap-icons/bootstrap-icons.css")}} rel="stylesheet">
  <link href={{asset("assets/backofficevendor/boxicons/css/boxicons.min.css")}} rel="stylesheet">
  <link href={{asset("assets/backoffice/vendor/quill/quill.snow.css")}} rel="stylesheet">
  <link href={{asset("assets/backoffice/vendor/quill/quill.bubble.css")}} rel="stylesheet">
  <link href={{asset("assets/backoffice/vendor/remixicon/remixicon.css")}} rel="stylesheet">
  <link href={{asset("assets/backoffice/vendor/simple-datatables/style.css")}} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={{asset("assets/backoffice/css/style.css")}} rel="stylesheet">


  
</head>

<body>

{% block body %} {% endblock %}


{% block javascripts %}{% endblock %}

  <!-- Vendor JS Files -->
  <script src={{asset("assets/backoffice/vendor/apexcharts/apexcharts.min.js")}}></script>
  <script src={{asset("assets/backoffice/vendor/bootstrap/js/bootstrap.bundle.min.js")}}></script>
  <script src={{asset("assets/backoffice/vendor/chart.js/chart.umd.js")}}></script>
  <script src={{asset("assets/backoffice/vendor/echarts/echarts.min.js")}}></script>
  <script src={{asset("assets/backoffice/vendor/quill/quill.min.js")}}></script>
  <script src={{asset("assets/backoffice/vendor/simple-datatables/simple-datatables.js")}}></script>
  <script src={{asset("assets/backoffice/vendor/tinymce/tinymce.min.js")}}></script>
  <script src={{asset("assets/backoffice/vendor/php-email-form/validate.js")}}></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>