{% extends 'baseAffichageCommand.html.twig' %}
{% block title %}Artzii back{% endblock %}

{% block body %}


<h1 style="text-align: center; margin-top: 75px; color: #ccbc67;"> Ici vous voyez la</h1>
<!-- HTML !-->

<div class="button-container">
 <button class="button-59" role="button">Commande n° {{numCommand}}</button>
</div>

 {# <p style="text-align: center; margin-top: 15px; color: blaxk;"> Votre commande est en cours de préparation. </p> #}

    <div class="container">
        
        <div class="card" style="margin-top: 20px; border-radius: 7px; padding-top: 10px;">
			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<h3 > Détails commande </h3>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Numéro de commande</th>
                                    <th scope="col">Date de commande</th>
                                    <th scope="col">adresse</th>
                                    <th scope="col">Prix</th>
                                    <th scope="col">Type de paiment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th> {{numCommand}} </th>
                                    <td> {{command.dateCommande | date}} </td>
                                    <td>{{command.adresse}}</td>
                                    <td>{{command.coutTotale}} DT</td>
                                    <td>{{command.modePaiement}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>     
     
        <div class="col-md-12">
				<div class="card" style="margin-top: 20px; border-radius: 7px;">
					<div class="card-header bg-white" style="border-top-right-radius: 7px; border-top-left-radius: 7px;">
						<h3 class="card-title">Les articles de la commande</h3>
					</div>

					<div class="card-body">
					{% set i = 1 %}

						{% for commandArticle in commandArticles %}
							<div class="row">


								<div class="col-md-3">
									<img src="{{asset('uploads/'~commandArticle.article.artimg)}}" style="width: 70%; height: 100%; border-radius: 4px; margin-left: 20px;">
								</div>

								<div class="col-md-6">
									<h6 class="card-title"  style="margin-top:10px;">Piece {{i}} de {{commandArticles|length}} </h6>
									<div>
										<span style="font-weight: bold;">
											1x
										</span>
										<span>
											{{commandArticle.article.artlib}}
										</span>
									</div>
                                    <div>
										Dimension : {{commandArticle.article.artdesc}} cm
									</div>



									<div>
									Prix : {{commandArticle.article.artprix}} DT
									</div>
								</div>
                                <div class="col-md-3">
                                    <h6 class="card-title"  style="margin-top:21px;">Doit être livrée entre :</h6>
                                    <div> {{ command.dateCommande|date("d-m-Y") }} et {{ command.dateCommande|date_modify("+4 days")|date("Y-m-d") }} </div>
                                </div>
							</div>
							<hr>
							{% set i = i + 1 %}
						{% endfor %}
					</div>
				</div>
			</div>
    </div>

<div class="button-container2">
  <div class="button-wrapper">
    <a href="{{ path('app_backCommand') }}">
      <button class="button-60">Revenir au liste</button>
    </a>
  </div>
  <a href="{{ path('app_facture', {'idCommand': command.getId()}) }}">
      <button class="button-60" >Générer facture</button>
    </a>
</div>





























<style>
.button-container2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-wrapper {
  margin: 0 15px;
}

.button-60 {
  width: 60px;
}

.button-container {
  display: flex;
  justify-content: center;
}
/* CSS */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #a3cf62;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 17px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 auto;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

.button-60 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 17px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 auto;
}

.button-60:focus {
  color: #171e29;
}

.button-60:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-60:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-60 {
    min-width: 170px;
  }
}




</style>


{% endblock %}






