{% extends 'base.html.twig' %}

{% block title %}Livraison
{% endblock %}

{% block body %}
	<div class="pagetitle">
		<h1>List Livraison</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index.html">Home</a>
				</li>
				<li class="breadcrumb-item">Livraison</li>
			</ol>
		</nav>
	</div>
	<!-- End Page Title -->

	<section class="section">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">


					<table class="table">
						<tbody>
							<tr>
								<th>Id</th>
								<td>{{ livraison.id }}</td>
							</tr>
							<tr>
								<th>EtatLiv</th>
								<td>{{ livraison.etatLiv ? 'Yes' : 'No' }}</td>
							</tr>
							<tr>
								<th>DateLiv</th>
								<td>{{ livraison.dateLiv ? livraison.dateLiv|date('Y-m-d') : '' }}</td>
							</tr>
							<tr>
								<th>PrixLiv</th>
								<td>{{ livraison.prixLiv }}</td>
							</tr>
						</tbody>
					</table>
					<a class='btn btn-primary' href="{{ path('app_livraison_new') }}">Create new</a>
				</div>
			</div>
		</div>
	</section>


	<a class='btn btn-info' href="{{ path('app_livraison_index') }}">back to list</a>


	<a class='btn btn-warning' href="{{ path('app_livraison_edit', {'id': livraison.id}) }}">edit</a>

	<br><br>
	{{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
