
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}})}}
{{ form_row(form.TypeR, {'label': 'Type'}) }}
    {{ form_row(form.Description, {'label': 'Description'}) }}
    {{ form_row(form.objet, {'label': 'Objet'}) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

