{% extends 'basefront.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
<div class="container" style="transform: scale(0.98); margin-top: -5px;">
    <div class="row">
        <div class="col-md-12">
    <h1>Mes reclamation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TypeR</th>
                <th>DateR</th>
                <th>Etat</th>
                <th>Description</th>
                <th>Objet</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.TypeR }}</td>
                <td>{{ reclamation.dateR ? reclamation.dateR|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.etat }}</td>
                <td>{{ reclamation.Description }}</td>
                <td>{{ reclamation.objet }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">show</a>
                    {%  if reclamation.etat=="nonresolu" %}
                    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
        <div class="row">
            <a href="{{ path('app_reclamation_new') }}" class="btn btn-primary">Create new</a>

        </div>
    </div>

{% endblock %}
