{% extends "base.html.twig" %}

{% block body %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">


                <div class="row">
                    <a href="{{ path('display_prod') }}">
                        <i class="fa fa-arrow-circle-left" style="font-size: 30px;"></i>

                    </a>

                </div>
                <br/>
                <div class="row" style="padding:10px;display: flex;align-items: center;justify-content: center;">

                    <div class="col-md-6 col-lg-3">

                        <div class="card m-b-20">
                            <img class="card-img-top img-fluid" src="{{ asset('uploads/'~image) }}" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title style="color:#ff5b5b""> Produit numero :{{id }}</h4>
                                <li class="list-group-item style="color:#ff5b5b"">Nom : {{ name }}</li>
                                <li class="list-group-item style="color:#ff5b5b"">Description :{{ description }}</span> </li>
                                <li class="list-group-item style="color:#ff5b5b"">Disponibilite :{{ artdispo }}</span> </li>

                                <li class="list-group-item style="color:#ff5b5b" >Prix: {{ prix }}</span> </li>
                                <li class="list-group-item style="color:#ff5b5b"">Categorie : {{ catLib }}</li>

                            </ul>
                            {#                            <div class="card-body">#}
                            {#                                <a href="#" class="card-link">Card link</a>#}
                            {#                                <a href="#" class="card-link">Another link</a>#}
                            {#                            </div>#}
                        </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}