{# affichage hedhi#}


{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <main id="main" class="main">



        <div class="pagetitle">
            <h1> User</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Tables</li>
                    <li class="breadcrumb-item active">General</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
<div class="input-group custom-search-form">
    <input    type="text" id="search" class="form-control widget_input" placeholder="Chercher..." style="width: 1180px;background: white">
</div>
        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">

                        {% for message in app.flashes('notice') %}
                            <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}


                        {% for message in app.flashes('noticedelete') %}
                            <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}

                        <div class="card-body">

                            <h5 class="card-title">List User</h5>
                            <a href="{{ path('ajouterUser') }}">
                                <button type="button" style="float: right;padding: 10px;" class="btn btn-outline-info">Back</button>

                            </a>

                            <!-- Default Table -->
                            <table class="table">
                                <thead>
                                <tr>

                                    <th scope="col">nomU</th>
                                    <th scope="col">prenomU</th>
                                    <th scope="col">emailU</th>
                                     <th scope="col">roleU</th>
                                    <th scope="col">adresse</th>



                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {% if users | length == 0 %}

                                            <p style="text-align: center">User vides</p>

                                        {% endif %}

                                    </td>
                                </tr>



                                {% for p in users  %}



                                    <tr>


                                        <td>{{ p.nom }}</td>
                                        <td>{{p.prenom}}</td>
                                        <td>{{p.email}}</td>
                                        <td>client</td>
                                        <td>{{p.adresse}}</td>


                                        <td>
                                          {#  <a href="{{ path('modifierUser',{idU:p.idU}) }}"> #}
                                    


                                        <td>
                                                 <a href="javascript:void(0)" onclick="if(confirm('Voulez vraiement supprimer ?')){window.location='{{ path('suppressionUser', {'id': p.id }) }}';}">

                                                <button type="button" class="btn btn-outline-danger">Retirer</button>
                                            </a></td>
                                                                         </tr>

                                {% endfor %}


                                </tbody>
                            </table>

                            <!-- End Default Table Example -->
<a href="{{ path('exportExcel') }}">
    <button type="button" style="float: right;padding: 10px;margin-left: 10px;" class="btn btn-outline-secondary">Exporter Excel</button>
</a>
                            <!-- End Default Table Example -->

                        </div>

                    </div>



                </div>


            </div>
        </section>
<!-- jQuery is necessary -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        var searchRequest = null;
        $("#search").keyup(function() {
            var minlength = 3;
            var that = this;
            var value = $(this).val(); // elyyktbo fi input 7atito fi var var
            var entitySelector = $("#entitiesNav").html('');
            if (value.length >= minlength ) {
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('ajax_search') }}",
                    data: {
                        'q' : value
                    },
                    dataType: "text",
                    success: function(msg){
                        //we need to check if the value is the same
                        if (value==$(that).val()) {
                            var result = JSON.parse(msg);
                            $.each(result, function(key, arr) {
                                $.each(arr, function(id, value) {
                                    if (key == 'products') {
                                        if (id != 'error') {

                                            x= document.getElementById("containerr");
                                            entitySelector.append('<div style="display: table;width:100%;padding: 15px"><span style="text-align: center">'+value[2]+'</span><br/><a href="/show_products_cat/'+id+'">'+'<img src="/uploads/'+value[0]+'" style="width: 150px; height: 150px"/>'+'</a></div>');
                                        } else {
                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                        }
                                    }
                                });
                            });
                        }
                    }
                });
            }
        });
    });
</script>
    </main>

{% endblock %}
