{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

{{form_label(form.numTel)}}
{{form_widget(form.numTel)}}
{{form_errors(form.numTel,{'attr': {'class': 'invalid-feedback'}})}}
<br>
{{form_label(form.nom)}}
{{form_widget(form.nom)}}
{{form_errors(form.nom,{'attr': {'class': 'invalid-feedback'}})}}
<br>
{{form_label(form.prenom)}}
{{form_widget(form.prenom)}}
{{form_errors(form.prenom,{'attr': {'class': 'invalid-feedback'}})}}
<br>
{{form_label(form.regionLivreur)}}
{{form_widget(form.regionLivreur)}}
{{form_errors(form.regionLivreur,{'attr': {'class': 'invalid-feedback'}})}}
<br>

<button class="btn btn-primary d-inline-flex align-items-center" style="background-color:#00377E;">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}