{% extends 'baseBackLivraison.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block body %}


	<!-- ======= main ======= -->
	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Data Tables</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="index.html">Home</a>
					</li>
					<li class="breadcrumb-item">Tables</li>
					<li class="breadcrumb-item active">Data</li>
				</ol>
			</nav>
		</div>
		<!-- End Page Title -->

		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Les livreurs</h5>
							<p>Bienvenue dans l'interface de gestion des livreurs, vous êtes maintenant aux livreurs !
							</p>

							<!-- Table with stripped rows -->
							<table class="table table-striped datatable">
								<thead>
									<tr>
										<th>Id</th>
                <th>NumTel</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>RegionLivreur</th>
                <th>actions</th>
									</tr>
								</thead>
								 <tbody>
        {% for livreur in livreurs %}
            <tr>
                <td>{{ livreur.id }}</td>
                <td>{{ livreur.numTel }}</td>
                <td>{{ livreur.nom }}</td>
                <td>{{ livreur.prenom }}</td>
                <td>{{ livreur.regionLivreur }}</td>
                <td>
                    <a href="{{ path('app_livreurs_show', {'id': livreur.id}) }}">show</a>
                    <a href="{{ path('app_livreurs_edit', {'id': livreur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
							</table>
							<!-- End Table with stripped rows -->

						</div>
					</div>

				</div>
			</div>
		</section>

	</main>

	<!-- End #main -->


{% endblock %}